@import url("https://fonts.googleapis.com/css?family=Voltaire&display=swap");

@font-face {
  font-family: "madisonsquareincised";
  src: url("../fonts/MADISI__-webfont.woff"),
    url("../fonts/MADISI__-webfont.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bignoodletitling";
  src: url("../fonts/bignoodletitling.woff"),
    url("../fonts/bignoodletitling.woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}

body {
  font-family: Voltaire, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #f27861;
  background-image: url(../img/Background_dirt-tile.png);
  background-repeat: repeat;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1144px;
  margin: 0 auto;
}

.container__inner {
  max-width: 945px;
}

.slider {
  height: 1092px;
  background-image: url(../img/slider-bg.jpg);
  background-repeat: repeat-x;
}

.slider_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.slider_img {
  margin: 312px auto auto;
}

.slider_navigation {
  display: flex;
  justify-content: center;
  margin-top: 228px;
}

.slider_navigation-control {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
  margin-left: 5px;
  background-color: #81b1b1;
  box-shadow: 2px 3px 0 rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s;
}

.slider_navigation-control:hover {
  background-color: #f27861;
  transition: background-color 0.3s;
}

.nav-about-block {
  display: flex;
  justify-content: center;
}

.about,
.our-team,
.portfolio {
  width: 945px;
  padding-top: 48px;
  z-index: 2;
  background-color: #e2ded4;
  background-image: url(../img/Background_dirt-tile.png);
  background-repeat: repeat;
}

.about {
  margin-top: -62px;
}

.block-header-img {
  display: block;
  margin: 0 auto;
}

.block-text {
  width: 552px;
  margin: 39px auto 55px;
  text-align: center;
  color: #564547;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.block-text_light {
  color: #868776;
}

.about__technic-img {
  display: block;
  margin: 0 auto 52px;
}

.block-divider {
  height: 21px;
  background-image: url(../img/block-divider-img.png);
  background-repeat: repeat-x;
}

.social-links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.social-links_ribbon > .ribbon__body {
  width: 65px;
}

.logo {
  width: 98px;
  height: 98px;
  background-color: #81b1b1;
  background-image: url(../img/Background_dirt-tile.png);
  background-repeat: repeat;
  box-shadow: 3px 4px 0 rgba(0, 0, 0, 0.51);
}

.logo_social-links {
  margin: 21px 0 14px 0;
}

.logo__text {
  padding: 24px 16px;
  color: #564547;
  font-family: madisonsquareincised, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  margin: auto;
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.menu_right {
  justify-content: flex-end;
}

.menu__item {
  margin: 10px 0;
  padding-bottom: 4px;
  overflow: hidden;
  position: relative;
}

.menu__link {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  line-height: 54px;
  text-decoration: none;
  width: 100%;
  color: #564547;
  font-size: 18px;
  font-weight: 400;
}

.menu__link_ribbon-right:before {
  content: "";
  display: block;
  width: 20px;
}

.menu__link_ribbon-left {
  padding-left: 6px;
}

.menu__link_ribbon-left:after {
  content: "";
  display: block;
  width: 20px;
}

.ribbon {
  display: flex;
  overflow: hidden;
}

.ribbon_shadow {
  box-shadow: 3px 4px 0 rgba(0, 0, 0, 0.51);
}

.ribbon__right-head {
  border-style: solid;
  border-color: #81b1b1 transparent #81b1b1 transparent;
  border-width: 27px 0 27px 15px;
  transition: all 0.3s;
}

.ribbon__left-head {
  border-style: solid;
  border-color: #81b1b1 transparent #81b1b1 transparent;
  border-width: 27px 15px 27px 0;
  transition: all 0.3s;
}

.ribbon__body {
  height: 54px;
  background-color: #81b1b1;
  background-image: url(../img/Background_dirt-tile.png);
  transition: all 0.3s;
}

.ribbon_hoverable:hover > .ribbon__body {
  background-color: #e2ded4;
  transition: all 0.3s;
}

.ribbon_hoverable:hover > .ribbon__right-head,
.ribbon_hoverable:hover > .ribbon__left-head {
  border-color: #e2ded4 transparent #e2ded4 transparent;
  transition: all 0.3s;
}

.ribbon_stretched:hover > .ribbon__body {
  width: 83px;
  transition: all 0.3s;
}

.ribbon_static > .ribbon__body {
  width: 83px;
}

.ribbon_red > .ribbon__right-head {
  border-color: #f27861 transparent #f27861 transparent;
}
.ribbon_red > .ribbon__left-head {
  border-color: #f27861 transparent #f27861 transparent;
}
.ribbon_red > .ribbon__body {
  background-color: #f27861;
}

.ribbon_grey > .ribbon__right-head {
  border-color: #868776 transparent #868776 transparent;
}
.ribbon_grey > .ribbon__left-head {
  border-color: #868776 transparent #868776 transparent;
}
.ribbon_grey > .ribbon__body {
  background-color: #868776;
}

.ribbon_centered {
  margin: 0 auto;
}

.site-navigation {
  margin-top: 11px;
}

.our-team {
  padding-top: 51px;
  display: flex;
  flex-direction: column;
}

.title {
  color: #333745;
  font-family: bignoodletitling, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
}

.title_light {
  color: #e2ded4;
}

.title_our-team {
  line-height: 54px;
}

.ribbon__body_title {
  padding-right: 133px;
  padding-left: 133px;
}

.employers-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 55px;
  margin-bottom: 119px;
}

.employer-card {
  max-width: 165px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
}

.employer-card__main-block {
  padding: 10px;
  margin-top: 4px;
  background-color: rgba(134, 135, 118, 0.3);
}

.employer-card__profile-pic {
  display: block;
  width: 144px;
  height: 144px;
  margin-bottom: 18px;
  background-color: #868776;
}

.employer-card__name {
  color: #868776;
  font-family: bignoodletitling, sans-serif;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.employer-card__job-title {
  text-align: center;
  color: #868776;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
}

.employer-card__social-links {
  display: flex;
  width: 100%;
  margin-top: 10px;
  justify-content: space-between;
}

.employer-card__social-link-button {
  width: 34px;
  height: 34px;
  background-color: rgba(134, 135, 118, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.choose-button-group {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 750px;
  margin-bottom: 46px;
}

.choose-button {
  background-color: transparent;
  border: none;
  color: #868776;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.choose-button:hover,
.choose-button__is-checked {
  color: #f27861;
}

.portfolio-grid {
  margin: 0 auto;
  width: 750px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-grid__element-item {
  width: 165px;
  height: 165px;
  background-color: #b48279;
  background-image: url(../img/Background_dirt-tile.png);
  margin-bottom: 30px;
}

.portfolio-grid__element-item:hover > .portfolio-grid__element-link {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.3s;
}

.portfolio-grid__element-link {
  display: flex;
  visibility: hidden;
  opacity: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.67);
  transition: visibility 0s, opacity 0.3s;
}

.portfolio-grid__element-link-center {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  line-height: 70px;
  text-align: center;
  font-size: 48px;
  color: #fff;
  background-color: hsl(10, 85%, 66%);
  /* opacity: 0.6; */
}
